.logout {
    position: absolute;
    top: 10%;
    left: 80%;
    background-color: rgb(255, 255, 255);
    width: 206px;
    height: 127px;
    box-shadow: 1px 3px 18px 4px rgb(135, 135, 135);
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.btn_logout {
    width: 175px;
    height: 48px;
    margin: 15px;
}

.logout_header {
    padding: 12px 125px 11px 15px;
    border-bottom: 1px solid rgb(233, 236, 239);
    font-size: 14px;
}

.btn_logout {
    background: rgb(248, 249, 250);
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-weight: 500;
}
